@use '@styles/variables' as *;

.heading-font {
  font-family: $font-heading;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
}

.heading-sm {
  font-family: $font-heading;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.body-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.body-text-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.body-text-bold {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
