@use '@styles/variables' as *;
@use '@styles/typography';

header {
  border-bottom: 1px solid $color-border;
}

.header {
  font-family: $font-heading;
  padding: 20px 0;
}

.ascent {
  color: $color-primary;
}
