@use '@styles/variables' as *;
@use '@styles/typography';

header {
  border-bottom: 1px solid $color-border;
}

.header {
  font-family: Manrope, sans-serif;
  padding: 20px 0;
}

.ascent {
  color: $color-primary;
}
